
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginComplete</title>
</head>
<body>
    <div>
        @Session["UserId"]
        @Session["UserEmail"]
        @Session["UserGivenName"]
    </div>
</body>
</html>
